@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color: #2d2c2c;
    --purple-solid:#350a4f;
    --purplpe-transparent:rgba(53, 10, 79, 0.7);
    --purplpe-transparent-alt:rgba(53,10,79,.5);
    --purple-light:#8f50fb;
    --yellow-solid:#fa9e2c;
    --gradient-color:linear-gradient(to right,var(--yellow-solid),var(--purple-light));
    --gradient-color-alt::linear-gradient(to right,var(--purple-light),var(--yellow-solid));
}
/*Header Style*/
.header{
    width:100%;
    height:10rem;
    display:flex;
    align-items:center;
    position: fixed;
    top:0;
    left:0;
    background-color:var(--purplpe-transparent);
    z-index: 999;
    transition:background-color .5s, height .5s;
}
.header.active{
    background-color: var(--purple-solid);
}
.header.activ{
    background-color: var(--purple-solid);
}
/*Header style-nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width:88%;
}
.hamburger-menu{
    font-size: 2.8rem;
    color: #fff;
    cursor:pointer;
    position: relative;
    z-index: 1500;
  
}
.hamburger-menu .fa-times{
    display: none;
}
.menu-open .hamburger-menu .fa-times{
    display:block;
}
.menu-open .hamburger-menu .fa-bars{
    display:none;
}
.nav-list{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    background-color: var(--purple-solid);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1400;
    opacity:0;
    transform:scale(0);
    transition:opacity .5s;
}
.menu-open .nav-list{
    opacity:1;
    transform: scale(1);
}
.nav-item:not(:last-child){
    margin-bottom: .5rem;
}
.nav-item:hover{
    background:var(--purple-solid);
    border-radius: 3px;  

}

.nav-link{
    display:block;
    color:#fff;
    font-size:2.8rem;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing:2px;
    padding: 0.5rem;

}
.btnl{
    border-radius: 15%;
    font-size:1rem;
    text-transform:uppercase;
    letter-spacing:2px;
    padding: 1rem;
    font-weight: bold;
}
/*Footer section styles*/
.footer{
    padding:4rem 0;
    background-color:var(--purple-solid);
    color:#fff;
}

.footer-content-brand{
    margin-bottom:2rem;
    margin-left:0.7px;
}


.footer .paragraph{
    color:inherit;
}

.footer-heading{
    text-transform:uppercase;
    margin-bottom:2.5rem;
}

.social-media{
    display:flex;
}
.sm-link{
    width:4rem;
    height:4rem;
    border:2px solid var(--yellow-solid);
    border-radius: 50%;
    display:flex;
    margin-right:1rem;
    transition: background-color .5s;
}

.sm-link:hover{
    background-color: var(--yellow-solid);
    color:var(--dark-color);
}

.sm-link i{
    margin:auto;
}
.copyright{
    opacity: 0.4;
}
/*Media queries*/
@media screen and (min-width:768px){
    /*Header section styles*/
    .header{
        height:10rem;
    }

    .header.active{
        height:6rem;

    }
    /*Footer section styles*/
    .footer{
        overflow-x: hidden;
    }
    .footer-content{
       display:flex;
     
    }
    .link{
      margin-top:1.5rem;
      flex:0 0 25%;
    }
    
    .footer-content-brand{
        margin-bottom:2.5rem;
        flex:0 0 33.3%;
    }
    .center-box{
        margin-bottom:2.5rem;
        flex:0 0 33.3%;
    }
   
    .footer-heading{
        margin-bottom:2rem;
    }
    .social-media-wrap{
        flex:0 0 33.3%;
        margin-left:2.5rem;
        margin-bottom:2rem;
    }
    .link{
        flex:0 0 25%;
        margin-left:2.5rem;  
        margin-bottom:2rem;
    }
    
}

@media screen and (min-width:1000px){
   

    /*Header section styles*/
    .hamburger-menu{
        display:none;
    }
    .nav-list{
        position:inherit;
        width:initial;
        height:initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity:1;
        transform:scale(1);
    }
    .nav-item:not(:last-child){
        margin-right:3rem;
        margin-bottom: 0;
    }
    .nav-link{
        font-size: 1.3rem;
        font-weight:normal;
        transition:color .5s;
    }
    .nav-link:hover{
        color:var(--yellow-solid);
    }
}
#A{
	width:100%;
	height:300px;
	text-align:center;
	border:1px solid black;
	/*background-image:linear-gradient(to right, #999966, #669999);
	background-color:#999966;*/
    background-color:#2e004d;
    font-family:'Open Sans', sans-serif;
    color:#fff;
}
h1{
  font-size:70px;
  margin-top:30px;
}
#B{
	width:80%;
	height:80px;
	text-align:center;
	border:3px solid black;
	margin-left:10%;
	margin-top:50px;
  padding-top:10px;
	/*background-color:#80ff80;*/
	/*opacity:0.8;*/
    background-image:linear-gradient(to right, #ffa31a, #aa80ff);
    background-color:#ffa31a;
   /* color:#fff;*/
}
#main{
	width:98%;
	height:450px;
	/*border:1px solid black;*/
	margin-top:50px;
	margin-left:15px;
}
#C{
	width:31%;
    height:360px;
   /* border:1px solid black;*/
    float:left;
    /*margin-top:40px;*/
    margin-left:20px;
    background-image:url("wedding2.jpg");
    background-size:cover;
}
#D{
	width:31%;
    height:360px;
   /* border:1px solid black;*/
    float:left;
    /*margin-top:40px;*/
    margin-left:20px;
    background-image:url("wedding2.jpg");
    background-size:cover;
}
#E{
	width:31%;
    height:360px;
    /*border:1px solid black;*/
    float:left;
    /*margin-top:40px;*/
    margin-left:20px;
    background-image:url("wedding2.jpg");
    background-size:cover;
}
P.p2{
	background-color:#ffa31a;
    width:398.5px;
    height:65px;
    margin-top:295px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}
a{
  text-decoration:none;
  font-size:25px;
  /*color:#ffff00;*/
  font-family:'Open Sans', sans-serif;
  color:#fff;
}
a:hover{
        color:#ffff00;
}